<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Build your own submission</title>
  </head>
  <body>
    <h1>Your pizza</h1>
    <p>Size: {{size}}</p>
    <p>Toppings: {{toppings}}</p>
    <p>Gluten-Free Crust: {{gluten}}</p>
    <p>Special Instructions: {{instructions}}</p>
    <p>Price: ${{stringPrice}}</p>
    {{#if shipping}}
      <p>{{shipping}}</p>
    {{/if}}
    <nav class="nav">
      <p><a href="build-your-own">Build another pizza |</a></p>
      <p><a href="/">Back to Homepage</a></p>
    </nav>
  </body>
</html>